@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

/*! VECTORS DESIGN  */
.vector-title {
  transform: translate(-50%, -40%);
  width: 100px;
  height: 100px;
  background: #FAF3E1;
}

.vector-title-2 {
  transform: translate(-200%, 0%) rotate(-50deg);
  width: 20px;
  height: 20px;
  background: #CEE5D2;
}

.vector-title-3 {
  top: 0;
  right: 20%;
  transform: translate(0%, 0%);
  width: 15px;
  height: 15px;
  background: #F8D8c9;
}

.vector-testing {
  transform: translate(-10%, 0%);
  width: 350px;
  height: 350px;
  background: #F5FDFF;
}

.vector-grow-2 {
  right: 20%;
  transform: translate(0%, -60%) rotate(45deg);
  width: 30px;
  height: 30px;
  background: #CFD0FF;
}

.vector-choose {
  left: 20%;
  transform: translate(0%, -50%) rotate(45deg);
  width: 30px;
  height: 30px;
  background: #CFD0FF;
}

.vector-team {
  left: 20%;
  transform: translate(0%, -50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background: #CEE5D2;
}

.vector-team {
  left: 20%;
  transform: translate(0%, -50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background: #CEE5D2;
}

.vector-grow {
  left: 33%;
  transform: translate(0%, -20%);
  width: 15px;
  height: 15px;
  background: #F8D8c9;
}

/* global classes */
.bg-input {
  background-color: #dfdfdf;
}

.input-text-color::-moz-placeholder {
  color: #b6b6b6;
}

.input-text-color::placeholder {
  color: #b6b6b6;
}

.active-hover:hover div {
  visibility: visible !important;
}

.span-red {
  background-color: #d1563b;
}

.span-yellow {
  background-color: #F7C745;
}

.span-green {
  background-color: #3BD165;
}

.stats-title {
  color: #665565;
}

.stats-text {
  color: #6f6f6f;
}

.bg-tertiary {
  background-color: #6f77f1 !important;
}

.bg-mysecondary {
  background-color: #fff !important;
}

.font-text-secondary {
  color: #828282;
}

.font-primary {
  color: #212528;
}

.font-text-tertiary {
  color: #727272;
}

.font-secondary {
  color: #6f77f1 !important;
}

.border-myprimary {
  border: 2px solid #6f77f1;
}

.bg-offwhite {
  background-color: #fafafa;
}

.bg-primary-red {
  background-color: #BC424E;
}

.bg-number {
  font-size: 229px;
  color: rgb(217, 217, 231) !important;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.circle-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.fill-secondary {
  background: #e9e9e9 !important;
}

.fill-primary {
  background: #6f77f1 !important;
}

.translate-middle-1 {
  transform: translate(-50%, 50%);
}

.fit-content {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.active-start {
  width: 70%;
  height: 2px;
  background: #6f77f1;
}

.active-end {
  width: 23%;
  height: 2px;
  background: #6f77f1;
}

.mw-75 {
  width: 100% !important;
}

.mw-50 {
  width: 100% !important;
}

.btn-custom {
  background-color: #fad725;
}

.btn-custom:hover {
  color: white !important;
  background-color: #BC424E;
}

.rounded-card-2 {
  border-radius: 2px;
}

.rounded-card-4 {
  border-radius: 4px;
}

.hover-card {
  transition: transform 200ms ease;
}

.hover-card:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 24, 5, 0.1);
  transform: translate(0px, -2px);
}

.hover-card-3 {
  transition: transform 200ms ease;
}

.hover-card-3:hover {
  color: #6f77f1;
  box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
}

.hover-card-3 .icons img:hover {
  filter: invert(39%) sepia(89%) saturate(469%) hue-rotate(199deg) brightness(106%) contrast(89%);
}

.hover-card-4 {
  transition: all 200ms ease;
  border-bottom: 4px solid transparent;
}

.hover-card-4:hover {
  background: white !important;
  border-bottom: 4px solid #6f77f1;
  box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
}

/* font-sizes */
.font-15 {
  font-size: 0.625rem;
}

.font-17 {
  font-size: 0.81rem;
}

.font-20 {
  font-size: 1rem;
}

.font-24 {
  font-size: 1.1rem;
}

.font-38 {
  font-size: 1.3rem;
}

.font-45 {
  font-size: 2.2rem;
}

.font-55 {
  font-size: 2.4rem;
}

.font-90 {
  font-size: 2.8rem;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.rotate-card {
  transform: rotate(-8.3deg);
}

.glassmorphism {
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  box-shadow: 0px 3.1695501804px 52.2975769043px 0px rgba(0, 0, 0, 0.1019607843);
}

.overlap-me {
  margin-left: -8%;
}

.nav-item:hover::before {
  content: "";
  position: absolute !important;
  left: 0px;
  bottom: 0px;
  width: 75%;
  background: #6f77f1;
  height: 2px;
}

.nav-item:hover::after {
  content: "";
  position: absolute !important;
  right: 0px;
  bottom: 0px;
  width: 20%;
  background: #6f77f1;
  height: 2px;
}

.team-card {
  bottom: 0;
  transform: translateY(60%);
  scale: 0.8;
}

.team-card div {
  width: 195px;
}

.team-card div img:not(:first-child) {
  margin-left: -8%;
}

.business {
  background: url(images/business/background.svg) no-repeat center;
  background-size: cover;
}

.hero-img {
  background: url(images/hero/hero.png) no-repeat center;
  background-size: contain;
  height: 500px;
}

.optimize .card {
  border: none !important;
  border-bottom: 2px solid transparent !important;
}

.optimize .card:hover {
  background: #fff !important;
  border-bottom: 2px solid #6f77f1 !important;
  box-shadow: 0px 10px 14px 2px rgba(14, 17, 60, 0.03);
}

.pricing-button {
  border: 1px solid #212528;
  background-color: transparent;
}

.vr {
  visibility: hidden;
}

.testimony-card {
  max-width: 245px;
}

.price-card {
  transition: transform 0.2s ease;
}

.price-card:hover {
  background: url(images/pricing/pricing-background.svg) center;
  background-size: stretch;
  transform: scale(1.05);
}

.price-card:hover * {
  color: white !important;
}

.price-card:hover .pricing-button {
  border: 1px solid white;
}

.price-card .pricing-button:hover {
  background-color: #fad725;
  border: 1px solid #fad725;
  color: black !important;
}

.service-card {
  max-width: 300px;
}

/* 576px */
@media screen and (min-width: 576px) {
  .price-card:hover {
    background: #6f77f1;
  }

  .spanning-card {
    max-width: 100%;
  }
}

/* 768px */
@media screen and (min-width: 768px) {
  .testimony-card {
    max-width: 500px;
  }

  .team-card {
    width: -moz-fit-content;
    width: fit-content;
    left: 0;
    transform: translateX(-30%);
    scale: 0.55;
  }

  .mw-75 {
    width: 85% !important;
  }

  .vr {
    visibility: visible !important;
  }

  .font-90 {
    font-size: 2.5rem;
  }

  .font-20 {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 992px) {
  .team-card {
    scale: 0.8;
  }

  .spanning-card {
    max-width: 300px;
  }

  .price-card {
    max-width: 300px;
  }

  .price-card:hover {
    background: url(images/pricing/pricing-background.svg) center;
    background-size: stretch;
  }

  .price-card:hover * {
    color: white !important;
  }

  .vr {
    visibility: hidden !important;
  }

  .mw-50 {
    width: 75% !important;
  }

  .font-90 {
    font-size: 3rem;
  }

  .col-sm-4 {
    max-width: 420px;
    aspect-ratio: 1.54;
  }

  .font-20 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    scale: 1.1;
  }

  .font-90 {
    font-size: 3.6rem;
  }
}

/*# sourceMappingURL=style.css.map */