$body_bg: #f5f5f5;
$body_secondary: #fff;
$secondary_accent: #6f77f1;
$text-primary: #212528;
$primary-red: #BC424E;
$text-secondary-color: #828282;
$span-red: #d1563b;
$span-green: #3BD165;
$span-yellow: #F7C745;
$text-tertiary-color: #727272;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}


/*! VECTORS DESIGN  */
.vector-title {
  transform: translate(-50%, -40%);
  width: 100px;
  height: 100px;
  background: #FAF3E1;
}

.vector-title-2 {

  transform: translate(-200%, 0%) rotate(-50deg);
  width: 20px;
  height: 20px;
  background: #CEE5D2;
}

.vector-title-3 {
  top: 0;
  right: 20%;
  transform: translate(0%, 0%);
  width: 15px;
  height: 15px;
  background: #F8D8c9;
}

.vector-testing {
  transform: translate(-10%, 0%);
  width: 350px;
  height: 350px;
  background: #F5FDFF;
}

.vector-grow-2 {
  right: 20%;
  transform: translate(0%, -60%) rotate(45deg);
  width: 30px;
  height: 30px;
  background: #CFD0FF;
}

.vector-choose {
  left: 20%;
  transform: translate(0%, -50%) rotate(45deg);
  width: 30px;
  height: 30px;
  background: #CFD0FF;
}

.vector-team {
  left: 20%;
  transform: translate(0%, -50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background: #CEE5D2;
}

.vector-team {
  left: 20%;
  transform: translate(0%, -50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background: #CEE5D2;
}

.vector-grow {
  left: 33%;
  transform: translate(0%, -20%);
  width: 15px;
  height: 15px;
  background: #F8D8c9;
}




.bg-input {
  background-color: #dfdfdf;
}

.input-text-color::placeholder {
  color: #b6b6b6;
}

.active-hover:hover {
  div {
    visibility: visible !important;
  }
}

.span-red {
  background-color: $span-red;
}

.span-yellow {
  background-color: $span-yellow;
}

.span-green {
  background-color: $span-green;
}

.stats-title {
  color: #665565;
}

.stats-text {
  color: #6f6f6f;
}
.bg-primary {
  background-color: $body_bg !important;
}

.bg-tertiary {
  background-color: $secondary_accent !important;
}

.bg-secondary {
  background-color: $body_secondary !important;
}

.font-text-secondary {
  color: $text-secondary-color;
}

.font-primary {
  color: $text-primary;
}

.font-text-tertiary {
  color: $text-tertiary-color;
}

.font-secondary {
  color: $secondary_accent !important;
}

.border-primary {
  border: 2px solid $secondary_accent !important;
}

.bg-offwhite {
  background-color: #fafafa;
}

.bg-primary-red {
  background-color: $primary-red;
}

.bg-number {
  font-size: 229px;
  color: rgb(217, 217, 231) !important;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.circle-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.fill-secondary {
  background: #e9e9e9 !important;
}

.fill-primary {
  background: $secondary_accent !important;
}

.translate-middle-1 {
  transform: translate(-50%, 50%);
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

.active-start {
  width: 70%;
  height: 2px;
  background: $secondary_accent;
}

.active-end {
  width: 23%;
  height: 2px;
  background: $secondary_accent;
}

.w-75 {
  width: 100% !important;
}

.w-50 {
  width: 100% !important;
}

.btn-danger {
  background-color: #fad725;

  &:hover {
    color: white !important;
    background-color: $primary-red;
  }
}

.rounded-card-2 {
  border-radius: 2px;
}

.rounded-card-4 {
  border-radius: 4px;
}

.hover-card {
  transition: transform 200ms ease;

  &:hover {
    box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1),
      0px 8px 8px -4px rgba(17, 24, 39, 0.04);

    transform: translate(0px, -2px);

  }
}


.hover-card-3 {
  transition: transform 200ms ease;

  &:hover {
    color: $secondary_accent;
    box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1),
      0px 8px 8px -4px rgba(17, 24, 39, 0.04);
  }

  .icons img:hover {
    filter: invert(39%) sepia(89%) saturate(469%) hue-rotate(199deg) brightness(106%) contrast(89%);
  }
}

.hover-card-4 {
  transition: all 200ms ease;
  border-bottom: 4px solid transparent;

  &:hover {
    background: white !important;
    border-bottom: 4px solid $secondary_accent;
    box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1),
      0px 8px 8px -4px rgba(17, 24, 39, 0.04);
  }
}

/* font-sizes */
.font-15 {
  font-size: 0.625rem;
}

.font-17 {
  font-size: 0.81rem;
}

.font-20 {
  font-size: 1rem;
}

.font-24 {
  font-size: 1.1rem;
}

.font-38 {
  font-size: 1.3rem;
}

.font-45 {
  font-size: 2.2rem;
}

.font-55 {
  font-size: 2.4rem;
}

.font-90 {
  font-size: 2.8rem;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.rotate-card {
  transform: rotate(-8.3deg);
}

.glassmorphism {
  backdrop-filter: blur(25px);
  box-shadow: 0px 3.1695501804351807px 52.297576904296875px 0px #0000001a;
}

.overlap-me {
  margin-left: -8%;
}




// nav section

.nav-item:hover::before{
  content: "";
  position: absolute !important;
  left: 0px;
  bottom:0px;
  width: 75%;
  background: $secondary_accent;
  height: 2px;
}
.nav-item:hover::after{
  content: "";
  position: absolute !important;
  right: 0px;
  bottom:0px;
  width: 20%;
  background: $secondary_accent;
  height: 2px;
}


// team section

.team-card {

  bottom: 0;
  transform: translateY(60%);
  scale: 0.8;

  div {
    width: 195px;

    img:not(:first-child) {
      margin-left: -8%;
    }
  }
}




//business
.business {
  background: url(images/business/background.svg) no-repeat center;
  background-size: cover;
}



.hero-img {
  background: url(images/hero/hero.png) no-repeat center;
  background-size: contain;
  height: 500px;
}



// optimize section
.optimize {
  .card {
    border: none !important;
    border-bottom: 2px solid transparent !important;

    &:hover {
      background: #fff !important;
      border-bottom: 2px solid $secondary_accent !important;
      box-shadow: 0px 10px 14px 2px rgba(14, 17, 60, 0.03);
    }
  }
}

.pricing-button {
  border: 1px solid #212528;
  background-color: transparent;
}

.vr {
  visibility: hidden;
}

.testimony-card {
  max-width: 245px;
}

.price-card {
  transition: transform 0.2s ease;

  &:hover {
    * {
      color: white !important;
    }

    .pricing-button {
      border: 1px solid white
    }

    background: url(images/pricing/pricing-background.svg) center;
    background-size: stretch;
    transform: scale(1.05);
  }

  .pricing-button:hover {
    background-color: #fad725;
    border: 1px solid #fad725;
    color: black !important;
  }
}

.service-card{
  max-width: 300px;
}



@media screen and (min-width: 576px) {
  .price-card:hover {
    background: #6f77f1;
  }

  .spanning-card{
    max-width: 100%;
  }
}

/* 768px */
@media screen and (min-width: 768px) {
  .testimony-card {
    max-width: 500px;
  }

  .team-card {
    width: fit-content;
    left: 0;
    transform: translateX(-30%);
    scale: 0.55;


  }

  .w-75 {
    width: 85% !important;
  }

  .vr {
    visibility: visible !important;
  }

  .font-90 {
    font-size: 2.5rem;
  }

  .font-20 {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 992px) {
  .team-card {
    scale: 0.8;
    
  }

  .spanning-card{
    max-width:300px;
  }

  .price-card {
    max-width: 300px;
  }

  .price-card:hover {
    * {
      color: white !important;
    }

    background: url(images/pricing/pricing-background.svg) center;
    background-size: stretch;
  }

  .vr {
    visibility: hidden !important;
  }

  .w-50 {
    width: 75% !important;
  }

  .font-90 {
    font-size: 3rem;
  }

  .col-sm-4 {
    max-width: 420px;
    aspect-ratio: 1.54;
  }

  .font-20 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    scale: 1.1;
  }

  .font-90 {
    font-size: 3.6rem;
  }
}



/* global classes */